@media only screen and (max-width: 767px) {
  .btn-add-progress:hover .text-tooltip,
  .add-project:hover .text-tooltip,
  .add-post:hover .text-tooltip,
  .add-group:hover .text-tooltip,
  .btn-joinClass:hover .text-tooltip {
    visibility: hidden !important;
  }

  .left-resp {
    text-align: left;
  }

  .right-resp {
    text-align: right;
  }

  .center-resp {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .black {
    display: none;
  }

  .swal2-modal.swal2-show {
    width: 100% !important;
  }

  .swal2-container.swal2-center.swal2-fade.swal2-shown {
    padding: 0 !important;
  }

  .span.vs__selected {
    width: 100% !important;
  }

  .img-unknown {
    width: 40px !important;
  }

  .img-pdf {
    width: 40px !important;
  }

  .img-doc,
  .img-docx {
    width: 40px !important;
  }

  .img-xls,
  .img-xlsx {
    width: 40px !important;
  }

  .img-ppt,
  .img-pptx {
    width: 40px !important;
  }

  .img-zip,
  .img-rar {
    width: 40px !important;
  }

  .img-mp3,
  .img-wav,
  .img-ogg {
    width: 40px !important;
  }

  .img-mp4 {
    width: 40px !important;
  }

  .img-png {
    width: 40px !important;
  }

  .dropdown [aria-expanded="true"] + .black,
  .dropright [aria-expanded="true"] + .black {
    display: block !important;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .dropdown-menu.dropdown-menu-right.drop-list.show,
  .drop-list.dropdown-menu.drop-list.show {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .dropdown-menu.dropdown-menu-right.drop-list.show .dropdown-item,
  .drop-list.dropdown-menu.drop-list.show .dropdown-item {
    padding: 15px 20px;
  }

  .modal {
    background: #fff;
  }

  .modal .modal-dialog.modal-dialog-centered.modal-lg {
    margin: 0;
    max-width: 100% !important;
  }

  .modal .modal-content {
    position: absolute !important;
    width: 100% !important;
    border: 1px solid #fff !important;
    border-radius: 0 !important;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .modal .modal-content .modal-header {
    padding: 5px 20px;
  }

  .modal .modal-content .modal-header .close {
    padding-top: 15px;
  }

  .modal .modal-content .modal-body {
    padding: 10px 20px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }

  .modal .modal-content .modal-footer {
    padding: 30px 20px;
  }

  #page404 .img-404 {
    width: 160px;
  }

  #page404 h1 {
    font-size: 20px !important;
  }

  #page404 h3 {
    font-size: 15px !important;
  }

  #login-page {
    background: #fff;
  }

  #login-page a h4 {
    display: inline !important;
    font-size: 17px !important;
  }

  #login-page .card-login {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }

  #login-page .card-login .img-logo {
    width: 200px;
  }

  #login-page .card-login .img-login {
    width: 200px;
    margin: 50px 0;
  }

  #login-page .card-login h4 {
    display: none;
  }

  #login-page .card-login .btn-login {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: 10px 65px;
    background: #006ad8;
  }

  #admin-login .card-login {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 30px;
  }

  #admin-login .style {
    border: none;
  }

  #admin-login .logo {
    width: 180px;
  }

  #admin-login h4 {
    font-size: 20px !important;
  }

  #admin-login h5 {
    font-size: 15px !important;
  }

  #navbar-page .col-resp {
    width: 50%;
  }

  #navbar-page .nav-tab {
    width: 90%;
  }

  #navbar-page .name {
    padding: 0;
  }

  #navbar-page .dropdown-menu.dropdown-menu-right.drop-list.show {
    border-radius: 0 0 7px 7px;
  }

  #navbar-page .dropdown [aria-expanded="true"] + .black {
    top: 65px;
  }

  #edit-profile .name {
    margin-top: 20px;
    font-weight: 500;
  }

  #edit-profile .name h2 {
    font-weight: 500;
  }

  #edit-profile .left-resp h2 {
    font-weight: 500;
  }

  #project {
    width: 90%;
  }

  #project .title {
    margin-top: 0;
  }

  #project .add-project {
    width: 55px;
    height: 55px;
    margin: 50px;
  }

  #project .btn-joinClass {
    width: 55px;
    height: 55px;
    margin: 50px;
  }

  #project .btn-joinClass.teacher {
    margin-right: 50px;
    margin-bottom: 130px;
  }

  #data-project .drop-list.dropdown-menu.drop-list.show {
    top: unset !important;
    bottom: 0;
    margin: 0;
    border-radius: 7px 7px 0 0;
  }

  #create-project .row {
    margin: 0;
  }

  #create-project .name {
    margin-top: 30px;
  }

  #create-project .study-year {
    margin-top: 20px;
  }

  #create-project .teacher {
    margin-top: 20px;
  }

  #create-project .year {
    margin-top: 20px;
    width: 50%;
  }

  #create-project .semester {
    margin-top: 20px;
    width: 50%;
  }

  #create-project .submit {
    width: 170px;
    padding: 7px;
    margin-top: 15px;
  }

  #edit-project .row {
    margin: 0;
  }

  #edit-project .name {
    margin-top: 30px;
  }

  #edit-project .year {
    margin-top: 20px;
    width: 50%;
  }

  #edit-project .semester {
    margin-top: 20px;
    width: 50%;
  }

  #main-page {
    width: 100%;
  }

  #main-page ul li {
    margin: 0 !important;
    width: 24%;
  }

  #main-page ul img {
    width: 35px;
  }

  #main-page ul a.router-link-active img {
    border-bottom: 2px solid #006ad8;
    padding-bottom: 5px;
  }

  #main-page ul a.router-link-active .img-menu-0 {
    content: url(/images/Mobile-2Home.png?a553a30dd228b1465a93ff2911825e63);
  }

  #main-page ul a.router-link-active .img-menu-1 {
    content: url(/images/Mobile-2Feed.png?ac0839853a592dac706adef251e9193a);
  }

  #main-page ul a.router-link-active .img-menu-2 {
    content: url(/images/Mobile-4Doc.png?fc767207e119a121b67f8687593d9567);
  }

  #main-page ul a.router-link-active .img-menu-3 {
    content: url(/images/Mobile-6Group.png?32f6d99798d65a18fd1a0b364f0ece2d);
  }

  #main-page ul a.router-link-active .img-menu-4 {
    content: url(/images/Mobile-8Progress.png?ab986361a5b8ddc83a28bf979739f705);
  }

  .img-profile {
    width: 50px;
    height: 50px;
  }

  #post .file-upload {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }

  #post .file-upload img {
    width: 25px;
  }

  #post .file-upload h1 {
    vertical-align: middle;
    color: #262626;
    font-weight: 500;
    float: left;
  }

  #post .add-post {
    width: 55px;
    height: 55px;
    margin: 50px;
  }

  #post .add-post img {
    width: 40px;
  }

  #post .card-body {
    width: 100%;
    border-radius: 0;
  }

  #post .card-body .col-md-10 {
    padding: 0 20px !important;
  }

  #post .card-body .col-resp-20 {
    width: 25%;
  }

  #post .card-body .col-resp-20.svg {
    text-align: left;
  }

  #post .card-body .col-resp-80 {
    width: 75%;
    padding-left: 0 !important;
  }

  #post .card-body svg {
    width: 50px !important;
    height: 50px !important;
  }

  #post .card-body .send img {
    width: 25px !important;
  }

  #post .card-body .name h5 {
    display: block;
  }

  #post .card-body .input-comment {
    width: 85%;
  }

  #create-post h3 {
    font-weight: 500;
  }

  #create-post .modal-body {
    padding-top: 40px;
  }

  #create-post .display .select-display {
    width: 78%;
  }

  #create-post .col-resp-center {
    width: 100%;
    text-align: center;
  }

  #create-post .submit {
    margin-top: 40px;
    padding: 7px;
  }

  #data-post .row {
    margin: 0;
  }

  #data-post .card-post {
    width: 100%;
    border-radius: 0 !important;
    padding: 10px 0;
  }

  #data-post .col-resp-20 {
    width: 20%;
  }

  #data-post .col-resp-20.left-resp {
    text-align: left;
  }

  #data-post .col-resp-60 {
    width: 60%;
  }

  #data-post .body-post .body {
    padding: 0 20px !important;
  }

  #data-post .footer-post {
    padding-left: 20px;
    padding-right: 20px;
  }

  #data-post .drop-list.dropdown-menu.drop-list.show {
    left: 0 !important;
    width: 100%;
    margin: 0;
    bottom: 0;
    top: unset !important;
  }

  #data-post .dropdown-menu.drop-list.show {
    border-radius: 7px 7px 0 0;
  }

  #attachment .type-file {
    padding: 10px 0px;
  }

  #attachment .col-resp-20 {
    width: 20%;
  }

  #attachment .col-resp-15 {
    width: 15%;
  }

  #attachment .col-resp-65 {
    width: 65%;
    padding: 0;
  }

  #document {
    width: 100%;
  }

  #document h1 {
    padding: 0 20px;
  }

  #document-card .card-doc {
    padding: 10px 0;
  }

  #document-card .row {
    margin: 0;
  }

  #document-card .type-resp,
  #document-card .time-resp,
  #document-card .name-resp {
    display: none;
  }

  #document-card .show-resp {
    display: block;
  }

  #document-card .col-resp-15 {
    width: 15%;
  }

  #document-card .col-resp-70 {
    width: 70%;
    padding-left: 10px !important;
  }

  #document-card .col-resp-70.space {
    display: block;
    padding: 5px;
  }

  #document-card .dropdown-menu.drop-list.show {
    top: unset !important;
    right: 0 !important;
    bottom: 0;
    margin: 0;
    border-radius: 7px 7px 0 0;
  }

  #group-page .add-group {
    width: 55px;
    height: 55px;
    margin: 50px;
  }

  #data-group {
    width: 90%;
  }

  #data-group h1 {
    font-weight: 500;
    margin-bottom: 15px;
  }

  #data-group .card-group {
    width: 240px;
  }

  #data-group .modal .modal-body .col-md-4 {
    text-align: left;
    padding-bottom: 7px;
  }

  #data-group .btn-group.dropright {
    text-align: right;
    display: block;
  }

  #data-group .dropdown-menu.drop-list.show {
    bottom: 0;
    margin: 0;
    border-radius: 7px 7px 0 0 !important;
  }

  #createGroup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    background: #fff;
  }

  #createGroup .name,
  #createGroup .member {
    padding: 10px 20px;
  }

  #createGroup .input-member {
    margin-top: 10px;
  }

  #createGroup .type {
    padding: 10px 20px;
  }

  #createGroup .type .col-md-4 {
    text-align: left;
  }

  #createGroup .btn-addGroup {
    padding: 7px 50px;
    margin: 10px auto;
    display: block;
  }

  #createGroup #main-page {
    display: none;
  }

  .head-resp {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px 8px 20px;
  }

  .head-resp h2 {
    font-weight: 500;
    display: inline;
    vertical-align: middle;
    font-family: "Athiti", sans-serif;
  }

  .head-resp a {
    color: #262626;
    text-decoration: none;
    float: right;
  }

  #progress-page {
    width: 90%;
  }

  #progress-page h1 {
    font-weight: 500;
  }

  #progress-page .addMeet {
    float: right;
    margin-top: -28px;
  }

  #progress-page .select {
    width: 70%;
    float: right;
  }

  #progress-page .meet {
    margin-top: 20px;
  }

  #progress-page .meet h2 {
    margin-right: 10px;
    display: inline;
  }

  #progress-page .btn-add-progress {
    width: 55px;
    height: 55px;
    margin: 50px;
  }

  #progress-page .btn-add-progress img {
    width: 35px;
  }

  #progress-page .showdata h3 {
    display: inline-block;
  }

  #progress-page .card.card-body {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    overflow-y: auto;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    margin: 0;
  }

  #progress-page .card.card-body .row {
    margin: 0 0 10px 0;
  }

  #progress-page .card.card-body .col-25-resp {
    width: 25%;
  }

  #progress-page .card.card-body .col-25-resp svg {
    height: 50px !important;
    width: 50px !important;
  }

  #progress-page .card.card-body .col-75-resp {
    width: 75%;
  }

  #progress-page .card.card-body .input-comment {
    width: 85%;
  }

  #progress-page .title {
    padding: 10px 20px;
  }

  #progress-page .name h5 {
    display: block;
  }

  #progress-page .group {
    margin-top: 10px !important;
  }

  #create-meet {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
  }

  #create-meet .space-input-resp {
    width: 90%;
    margin: 25px auto;
  }

  #create-meet .row {
    margin: 0;
  }

  #create-meet .row .col-md-6 {
    text-align: left;
    margin-bottom: 20px;
    text-align: center !important;
  }

  #create-meet .datePic,
  #create-meet .select {
    width: 84%;
  }

  #create-meet .detail {
    margin: 20px;
  }

  #create-meet #main-page {
    display: none;
  }

  #progress-card .showgroup .col-md-3,
  #progress-card .showgroup .col-md-9 {
    padding: 0;
  }

  #progress-card .showgroup .title,
  #progress-card .showgroup .nameList {
    padding: 0 20px !important;
  }

  #progress-card .group {
    margin-bottom: 10px !important;
  }

  #progress-card .showgroup .title {
    padding: 0 15px 0 15px !important;
  }

  #progress-card .showgroup .col-md-9 {
    padding-left: 15px !important;
  }

  #progress-card .pg-card {
    margin: 10px 3px;
    width: 48%;
    float: left;
    padding: 20px 10px;
  }

  #progress-card .btn-group.dropright {
    float: right;
  }

  #progress-card .status {
    text-align: center;
    margin-top: 20px;
    padding: 0 40px;
  }

  #progress-card .img-status {
    width: 40px;
    margin: 0;
  }

  #progress-card .title {
    text-align: center;
    margin: 10px 0 5px 0;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #progress-card i {
    font-size: 30px !important;
  }

  #progress-card .drop-list.dropdown-menu.drop-list.show {
    top: unset !important;
    width: 100%;
    margin: 0;
    bottom: 0;
    border-radius: 7px 7px 0 0;
  }

  #check-progress {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
  }

  #check-progress .header {
    margin: 30px 20px 0 20px;
  }

  #check-progress .header .data {
    margin: 0;
  }

  #check-progress .body {
    margin: 20px;
  }

  #check-progress #main-page {
    display: none;
  }

  #check {
    margin-top: 0;
  }

  #check .text-status {
    margin: 20px;
  }

  #check .img-status {
    width: 30px;
  }

  #check .data {
    border-radius: 0;
    padding: 10px 20px 3px 20px;
  }

  #check .header {
    margin: 0;
  }

  #check .header .check-status {
    margin: 0;
  }

  #check .body {
    margin: 15px 0;
  }

  #check .btn-comment-resp {
    border-top: 1px solid #dcdcdc;
    margin-top: 15px;
    padding-top: 10px;
  }

  #check .box {
    border-radius: 0;
  }

  #check .col-40-resp {
    width: 40%;
  }

  #check .col-60-resp {
    width: 60%;
  }

  #check .span {
    display: none !important;
  }

  #check .show-br {
    display: block;
  }

  #check .card-body {
    border-radius: 0;
  }

  #editProfile-first .card-edit {
    width: 100%;
    border-radius: 0;
  }

  #editProfile-first .right {
    text-align: left;
  }

  #editProfile-first .body .style-input {
    width: 100%;
  }

  #editProfile-first .body .select {
    width: 100%;
  }

  #wait .card-wait {
    width: 100%;
    border-radius: 0;
  }

  #accept .card-accept {
    width: 100%;
    border-radius: 0;
  }

  #accept .submit {
    padding: 3px 0;
    width: 100%;
  }

  #accept .submit h4 {
    word-wrap: break-word;
  }

  #manualBook {
    width: 80%;
  }

  #manualBook a {
    color: #262626;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .btn-add-progress:hover .text-tooltip,
  .add-project:hover .text-tooltip,
  .add-post:hover .text-tooltip,
  .add-group:hover .text-tooltip,
  .btn-joinClass:hover .text-tooltip {
    visibility: hidden !important;
  }

  .img-unknown {
    width: 40px !important;
  }

  .img-pdf {
    width: 40px !important;
  }

  .img-doc,
  .img-docx {
    width: 40px !important;
  }

  .img-xls,
  .img-xlsx {
    width: 40px !important;
  }

  .img-ppt,
  .img-pptx {
    width: 40px !important;
  }

  .img-zip,
  .img-rar {
    width: 40px !important;
  }

  .img-mp3,
  .img-wav,
  .img-ogg {
    width: 40px !important;
  }

  .img-mp4 {
    width: 40px !important;
  }

  .img-png {
    width: 40px !important;
  }

  .modal .modal-content {
    width: 100% !important;
  }

  .modal .modal-content .modal-header {
    padding: 10px 20px 5px 20px;
  }

  .modal .modal-content .modal-body {
    padding: 10px 20px;
  }

  .modal .modal-content .modal-footer {
    padding: 10px 20px 30px 20px;
  }

  #admin-login .card-login {
    width: 80%;
  }

  #admin-login h5 {
    font-size: 12px !important;
  }

  #data-project .search + .filter-search {
    width: 30%;
  }

  #data-project .search + .dropdown-menu.dropdown-menu-right.show {
    top: 145px !important;
    right: 14%;
  }

  #data-project .col-resp-50 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  #create-project {
    max-width: 90%;
  }

  #post .file-upload {
    width: 68%;
  }

  #post .card-body {
    width: 80%;
  }

  #create-post .display .select-display {
    width: 69%;
  }

  #create-post .col-display {
    max-width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  #create-post .col-btn {
    max-width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  #data-post .card-post {
    width: 80%;
  }

  #document {
    width: 100%;
  }

  #document-card .dropdown-menu.drop-list.show {
    top: 0px !important;
    right: 20px !important;
  }

  #data-group .col-50-resp {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  #data-group .card-group {
    width: 240px;
  }

  #createGroup {
    width: 70%;
  }

  #createGroup .btn-addGroup {
    padding: 7px 50px;
    margin: 30px auto;
    display: block;
  }

  #progress-page {
    width: 100%;
  }

  #create-meet {
    width: 100%;
  }

  #create-meet .datePic {
    width: 80%;
  }

  #progress-card .drop-list.dropdown-menu.drop-list.show {
    right: 20px !important;
    top: 3px !important;
  }

  #check-progress {
    width: 100%;
  }

  #check .check-status {
    padding: 3px 10px !important;
  }

  .style-breadcrumb h2 {
    font-size: 19px !important;
  }

  #editProfile-first .card-edit {
    width: 90%;
  }

  #manualBook {
    width: 70%;
  }

  #manualBook a {
    color: #262626;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  #progress-card h4.text-status {
    display: block;
  }

  #progress-card img.img-status {
    display: block;
    margin: 0 auto;
  }
}

